.centre {
  text-align: center;
  width: 80%;
  margin: 1rem auto;
  margin-top: -80px;
}


/* acknowledge parallax adapted from codepen by Josh Bemenderfer - css only */

.wrapper {
  /* The height needs to be set to a fixed value for the effect to work.
   * 100vh is the full height of the viewport. */
  height: 100vh;
  /* The scaling of the images would add a horizontal scrollbar, so disable x overflow. */
  overflow-x: hidden;
  /* Enable scrolling on the page. */
  overflow-y: auto;
  /* Set the perspective to 2px. This is essentailly the simulated distance from the viewport to transformed objects.*/
  perspective: 2px;
}

.small {
  height: 400px;
  width: 40vw;
}

.text-container {
  display: block;
  text-align: center;
  vertical-align: middle;
}

.section {
  /* Needed for children to be absolutely positioned relative to the parent. */
  position: relative;
  /* The height of the container. Must be set, but it doesn't really matter what the value is. */
  height: 100vh;

  /* For text formatting. */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0 0 5px #000;
}

.section-small {
  height: 400px;
}
.parallax::after {
  /* Display and position the pseudo-element */
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  /* Move the pseudo-element back away from the camera,
   * then scale it back up to fill the viewport.
   * Because the pseudo-element is further away, it appears to move more slowly, like in real life. */
  transform: translateZ(-1px) scale(1.5);
  /* Force the background image to fill the whole element. */
  background-size: 100%;
  /* Keep the image from overlapping sibling elements. */
  z-index: -1;
}

.parallax-small::after {
  transform: translateZ(-1px) scale(2);
}

ul {
  display: inline;
  margin: 0;
  padding: 0;
  background-color: red;
}

li {
  list-style: none;
  width: auto;
  float: left;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 1%;
  padding-bottom: 1%;

  height: 400px;
}


.container-right {
  width: 40vw;
  height: auto;
}

.container-left {
  width: 40vw;
  height: auto;
}

/* The styling for the static div. */
.static {
  background: slategrey;
}

/* Sets the actual background images to adorable kitties. This part is crucial. */
.bg1::after {
  background-image: url('/assets/images/lighthouse-2542726_1280.jpg');
}

.bg2::after {
  background-image: url('/assets/images/cycling-828646_1920.jpg');
  background-size: 150%;

}

.bg3::after {
  background-image: url('/assets/images/swim-864383_1920.jpg');
  background-size: 150%;
}

.container {

  overflow-x: hidden;
  height: 100vh;
  width: 80vw;
  margin: 10%;
}

@media screen and (max-width: 1024px) {


  .bg1::after {
    background-image: url('/assets/images/lighthouse-2542726_1280.jpg');
    background-size: 125%;
  }

  .small {
    height: 300px;
    width: 40vw;
  }

  .bg2::after {
    background-image: url('/assets/images/cycling-828646_1920.jpg');
    background-size: 180%;

  }

  .bg3::after {
    background-image: url('/assets/images/swim-864383_1920.jpg');
    background-size: 200%;
  }

}

@media screen and (max-width: 992px) {

  .parallax::after {
    background-size: 200%;
  }

  .text-container {
    margin-top: -20%;
  }

  .wrapper {
    height: 100vh;
  }
  .container-right {
    width: 80vw;
    height: 400px;
  }

  .container-left {
    width: 80vw;
    height: 400px;
  }

  .small {
    height: 400px;
    width: 80vw;
  }

  li {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
  }

  .bg1::after {
    background-image: url('/assets/images/lighthouse-2542726_1280.jpg');
    background-size: 200%;
  }

}


@media screen and (max-width: 600px) {
  .parallax::after {
    background-size: 250%;
  }

  .text-container {
    margin-top: -20%;
  }

  .wrapper {
    height: 100vh;
  }
  .container-right {
    width: 80vw;
    height: 275px;
  }

  .container-left {
    width: 80vw;
    height: 275px;
  }

  .small {
    height: 275px;
    width: 80vw;
  }

  li {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 1%;
    padding-bottom: 1%;
  }

  .bg1::after {
    background-image: url('/assets/images/lighthouse-2542726_1280.jpg');
    background-size: 250%;
  }

  /*.container-right {*/
  /*width: 80vw;*/
  /*height: 275px;*/
  /*}*/

  /*.container-left {*/
  /*width: 80vw;*/
  /*height: 275px;*/
  /*}*/

  /*.small {*/
  /*height: 275px;*/
  /*width: 80vw;*/
  /*}*/

  /*.wrapper {*/
  /*height: 30vh;*/
  /*}*/

  /*.bg1::after {*/
  /*background-image: url('/assets/images/lighthouse-2542726_1280.jpg');*/
  /*background-size: 150%;*/
  /*}*/

}
