<div class="margin-80">
  <div class="grid">
    <div class="grid-1"></div>
    <div class="grid-10">
      <h1>About Forest Fitness</h1>

      <p>Tired of the gym?  Forest Fitness takes you back outdoors to workout with nature.  </p>
      <p>Four types of classes are offered in amazing natural locations with indoor back ups for when the weather turns bad. </p>
      <p>Reinvigorate your senses with rambling runs, functional forest workouts, swim and bike sessions during summer and cross training.</p>
      <br>
      <p>Forest Fitness has been designed to connect you back to nature with medium sized groups of like minded people.</p>
      <p>Groups range from 10 to a maximum of 20 in size with two instructors to provide personalised guidance.</p>
      <br>
      <h3 class="left-animate">Join us today!</h3>
    </div>
    <div class="grid-1"></div>
  </div>
</div>



