.grid-1 {
  margin: 5vw;
}

.margin-80 {
  width: 80%;
  margin: 1rem auto;
}

.left-animate {
  animation-duration: 4s;
  animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 70%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
