<main class="mdl-layout__content">
  <div class="margin-80">
    <div class="page-content">
      <div class="mdl-grid">
        <a pageScroll href="#scrollHeading">Scroll to blurb</a>

        <!--<a href="/plan" (click)="nav()">Plan</a>-->
        <div class="mdl-cell mdl-cell--1-col"></div>
        <div class="mdl-cell mdl-cell--10-col">
          <h1>Membership plans</h1>
          <p>We offer a variety of options for participants, which can be time based, blocks of tickets or just participating on a casual session rate.
          </p>
          <p>New participants enjoy a 20% discount</p>
          <table class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
            <thead>
            <tr>
              <th class="mdl-data-table__cell--non-numeric">Offers</th>
              <th>Period</th>
              <th>Cost</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">Annual</td>
              <td>12 months</td>
              <td>$xx</td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">Semi-annual</td>
              <td>6 months</td>
              <td>$xx</td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">Quarterly</td>
              <td>3 months</td>
              <td>$xx</td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">Monthly</td>
              <td>1 month</td>
              <td>$xx</td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">Block of 20</td>
              <td>20 sessions</td>
              <td>$xx</td>
            </tr>
            <tr>
              <td class="mdl-data-table__cell--non-numeric">Block of 10</td>
              <td>10 sessions</td>
              <td>$xx</td>
            </tr>
            </tbody>
          </table>
          <br>
          <p>If you want to attend on a casual basis, run and swim sessions are $20 each and biking $30</p>
        </div>
        <div class="mdl-cell mdl-cell--1-col"></div>
      </div>
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--1-col"></div>
        <div class="mdl-cell mdl-cell--10-col">
          <h1>Benefits</h1>
          <p>Aside from working out with a great group of people, Forest Fitness has partnered with Gemini Gyms, where you can supplement your Forest workouts, with casual gym sessions for only $15 a time.  Please just tap your Forest token on entry and it will be automatically charged to your account.
            <br><br>
            There are no hidden fees and you can suspend membership for a two month period, if you are away overseas.
          </p>
        </div>
        <div class="mdl-cell mdl-cell--1-col"></div>
      </div>

      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--1-col"></div>
        <div class="mdl-cell mdl-cell--10-col">
          <h3>Please email info@forestfitness.se for more information.</h3>
        </div>
        <div class="mdl-cell mdl-cell--1-col"></div>
      </div>

    </div>
    <br>
    <p id="elephant">find me</p>
    <h2 id="scrollHeading">Scroll Heading</h2>
    <p>
      more
    </p>
    <p>blurb</p>
    <p>blurb</p><p>blurb</p><p>blurb</p><p>blurb</p><p>blurb</p><p>blurb</p><p>blurb</p><p>blurb</p>
    <h1>end</h1>
  </div>

</main>
