mat-form-field {
  width: 100%;
}

mat-spinner {
  margin: auto;
}

.margin-60 {
  width: 60%;
  margin: 1rem auto;
}

.text-container {
  display: block;
  text-align: center;
  vertical-align: middle;
}
