
<!--<img src="./assets/images/lighthouse-2542726_1280.jpg" alt="" class="square">-->
<!--<div appParallax attr.ratio="-0.6" class="square"></div>-->
<!--<img appParallax src="./assets/images/lighthouse-2542726_1280.jpg" alt="" class="square">-->


<main class="wrapper">
  <section class="section parallax bg1">
    <div class="text-container">
      <h1>Rambling Runs</h1>
      <br>
      <p>A gentle 10km run through spectacular countryside, on flat and easy to medium slopes.</p>
    </div>


  </section>
</main>
<div class="centre">
  <p>Join our group of ramblers for a 10km jog across some spectacular countryside</p>
  <p>There are five classic circuits within a 20km radius of Bromma</p>
</div>
<ul>
  <li>
    <main class="wrapper-left">
      <section class="section-left parallax-left bg2">
        <div class="text-container">
          <h1>Forest cycles</h1>
          <br>
          <p>Groups of up to ten are taken on challenging forest routes up to 30km in length</p>
          <p>Full support is provided for mechanical failures</p>
        </div>
      </section>
    </main>
  </li>
  <li>
    <div class="container-right">
      <p>text here</p>
    </div>
  </li>
</ul>



<main class="wrapper-left">
  <section class="section parallax-left bg2">
    <h1>Forest cycles</h1>
    <br>
    <p>Groups of up to ten are taken on challenging forest routes up to 30km in length</p>
    <p>Full support is provided for mechanical failures</p>

  </section>
  <section class="section static">
    <h1>To be filled</h1>
  </section>
  <section class="section parallax bg3">
    <h1>Lake and open water swims</h1>
  </section>
</main>


<br>
<br>
<main class="wrapper">

  <section class="section parallax bg3">
    <h1>Lake and open water swims</h1>
  </section>
</main>
<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="posts.length>0 && !isLoading">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      {{post.title}}
    </mat-expansion-panel-header>
    <div class="post-image">
      <img [src]="post.imagePath" [alt]="post.title">
    </div>
    <p>{{post.content}}</p>
    <mat-action-row>
      <a mat-button color="primary" [routerLink]="['/edit', post.id]">EDIT</a>
      <button mat-button color="warn" (click)="onDelete(post.id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)" *ngIf="posts.length>0"></mat-paginator>
<p class="info-text mat-body-1"*ngIf="posts.length<=0 && !isLoading">No posts added yet</p>

