

:host {
  display: block;
  margin-top: 1rem;
}

.info-text {
  text-align: center;
}

mat-spinner {
  margin: auto;
}

.post-image {
  width: 15%;
}


.post-image img{
  width: 400%;
}

mat-paginator {
  margin-top: 1rem;
}

.container {
  font-family: Raleway;
  overflow-x: hidden;
  height: auto;
  width: 80vw;
  margin: 10%;
}

mat-expansion-panel-header {
  font-family: Raleway;
  font-weight: bolder;
}
